@font-face {
  font-family: 'PostGrotesk-Regular';
  src: url('../fonts/PostGrotesk-Regular.eot?#iefix') format('embedded-opentype'), url('../fonts/PostGrotesk-Regular.woff') format('woff'), url('../fonts/PostGrotesk-Regular.ttf')  format('truetype'), url('../fonts/PostGrotesk-Regular.svg#PostGrotesk-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}