@font-face {
  font-family: 'Untitled Sans Regular';
  src: 
  url('../fonts/untitledsans-regular.woff2') format('woff2'), 
  url('../fonts/untitledsans-regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}