//  Table of Contents:
//
//   1. Mixins
//   2. Global
//   3. Typography
//   4. Home

// 1. Mixins
// ---------

@mixin margin-one {
  margin-bottom: 1rem;
}

@mixin margin-two {
  margin-bottom: 2rem;
}

@mixin margin-three {
  margin-bottom: 3rem;
}

@mixin margin-four {
  margin-bottom: 4rem;
}

@mixin margin-five {
  margin-bottom: 5rem;
}

@mixin margin-six {
  margin-bottom: 6rem;
}


@mixin links ($link, $hover) {
  a {
    color: $link;
    &:hover {
      color: $hover;   
    }
  }
}

@mixin link-underline($color, $size, $duration, $centered) {
  color: $color;
  display: inline-block;
  position: relative;
  text-decoration: none;
  
  &:before {
    background-color: $color;
    content: '';
    height: $size;
    position: absolute;
    bottom: 0 - ($size/2);
    transition: $duration;
    width: 0;
    @if $centered == 'true' {
      left: 50%;
      transform: translateX(-50%); 
    }
  }
  
  &:hover {
    &:before {
      width: 100%;
    }
  }
}

// 2. Global
// ---------

body {  
  cursor: default;
}

body {
  opacity: 1;
  transition: $primary-transition;
}

body.fade-out {
  opacity: 0;
}

svg {
  max-width: 100%;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

::selection {
  background: $primary-color;
  color: $secondary-color;
}

:focus {
  outline: 0;
}

[data-aos] {
overflow: hidden;
}

// 3. Typography
// -------------

a {
  transition: $primary-transition;
  border-bottom: 1px solid $color--black;
}

.uppercase {
  text-transform: uppercase;
}

i, cite, em, var, address, dfn {
  font-style: normal;
}


// 4. Home
// ------

.home {
//   transition: $primary-transition;
  @include breakpoint(small) {
    padding: 1rem 1rem;
  }
  @include breakpoint(medium) {
    padding: 2rem 2rem;
  }
  @include breakpoint(large) {
    padding: 2.5rem 2.5rem;
  }
  @include breakpoint(xlarge) {
    padding: 3rem 3rem;
  }
}

.home__title {
  @include margin-one;
}

.home__description {
  @include margin-two;
}

.home__contact {
  @include margin-two;
}

.home__contact {
  @include margin-two;
}

.home__clients {
  @include margin-two;
}

.home--light {
  background-color: $color--black;
  color: $color--white;
  a {
  color: $color--white;
  border-bottom: 1px solid $color--white;
  }
  a:hover {
  color: $dark-gray;
  }
}