---
layout: compress
---

<!DOCTYPE html>
<html class="no-js" lang="en" dir="ltr">

<!-- Head -->
{% include head.html %}
<!-- End Head -->

<body class="{{page.layout | slugify}}">
  
{% if page.url == "/" %}
<script>document.body.className += ' fade-out';</script>
{% endif %}

{{content}}

<!-- Scripts -->
{% include scripts.html %}
<!-- End Scripts -->

<!-- Google Analytics -->
{% if site.analytics %}
{% include analytics.html %}
{% endif %}
<!-- End Google Analytics -->

<!-- Curator -->
<script type="text/javascript">
(function(){
    var i, e, d = document, s = "script";i = d.createElement("script");i.async = 1;
    i.src = "https://cdn.curator.io/published/4432d06f-ad20-492c-9e40-aac46c51.js";
    e = d.getElementsByTagName(s)[0];e.parentNode.insertBefore(i, e);
})();
</script>
<!-- End Curator -->

</body>

</html>